<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletNameHelloWorld</servlet-name>
        <servlet-class>pl.sda.HelloWorldServlet</servlet-class>
        <init-param>
            <param-name>initName</param-name>
            <param-value>Java</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletNameHelloWorld</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>